/*body {*/
/*background: black;*/
/*}*/

body {
  background: linear-gradient(45deg, blue 0, red 100%);
  font-family: "Montserrat", "sans-serif";
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: lightblue;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
